$gray: #797979;

.input {
  @apply relative block mb-4;

  >input{
    @apply pb-2 w-full border-b;

    &::placeholder {
      color: $gray;
    }
  }
}

.error {
  @apply absolute -bottom-4 left-0 text-sm w-full text-primary;
  font-size: 0.5rem;
}